@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700&subset=latin-ext')


*
    padding: 0
    margin: 0
body
    font-family: 'Lato', sans-serif
    min-height: 100vh
    position: relative

a
    text-decoration: none
    color: inherit

// header
header
    box-shadow: 0 4px 6px rgba(0,0,0,0.07)
    padding: 15px 0 30px 0
    img
        max-height: 150px

nav
    margin-top: 30px
ul
    display: flex
    justify-content: center
    list-style-type: none
    font-weight: bold
    text-decoration: underline
    li a
        font-size: 32px
        line-height: 36px
        display: flex
        align-items: center
        margin: 0 15px
        opacity: .65
        transition: all .3s ease-in-out

        &:hover
            opacity: 1

        img
            height: 36px

.active
    opacity: 1

.wrapper-oferta
    width: 1200px
    margin: 40px auto
    display: flex
    flex-wrap: wrap

.item
    box-sizing: border-box
    background: #F3F3F3
    border-radius: 10px
    overflow: hidden
    width: calc(25% - 30px)
    margin: 15px
    height: 400px
    display: flex
    box-shadow: 0 0 6px rgba(0,0,0,0.35)
    cursor: pointer
    transition: all .3s linear

    &:hover
        box-shadow: 0 0 15px rgba(0,0,0,0.7)
    .side-image
        width: 80px
        height: 100%
        overflow: hidden
        img
            height: 100%
            transform: translateX(-50%)
    .item-content
        width: calc(100% - 80px)
        padding: 10px
        display: flex
        flex-direction: column
        box-sizing: border-box

        h1
            height: 15%
            text-align: center
            font-size: 26px
        .desc
            height: 75%
        .price
            height: 10%
            text-align: center
            color: #1E1E1E
            font-size: 26px
            font-weight: bold

footer
    background: #343434

    .footer-wrapper
        color: rgba(255,255,255,.4)
        margin: auto
        width: 1200px
        padding: 15px 15px
        box-sizing: border-box
        display: flex
        font-weight: 300
        justify-content: space-between
.fix
    position: absolute
    bottom: 0
    left: 0
    right: 0
//dostawa

.wrapper-dostawa
    width: 1000px
    margin: auto
    font-weight: 300
    display: flex
    flex-wrap: wrap
    padding: 50px 0

    img
        width: calc(50% - 10px)
        box-shadow: 0 3px 6px rgba(0,0,0,0.16)
        border-radius: 10px
        height: 300px
    
.img-one
    margin-right: 10px
.img-two
    margin-left: 10px
.info
    box-sizing: border-box
    width: calc(50% - 10px)
    background: #F8F8F8
    box-shadow: 0 3px 2px rgba(0,0,0,0.16)
    border-radius: 10px
    font-size: 27px
    padding: 10px 20px
    text-align: center

.days
    margin-right: 10px
.hours
    margin-left: 10px
.dostawa-desc
    text-align: center
    font-size: 23px
    color: #6f6f6f
    margin: 30px 0

