@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700&subset=latin-ext')


*
    padding: 0
    margin: 0
body
    font-family: 'Lato', sans-serif
    min-height: 100vh
    position: relative

a
    text-decoration: none
    color: inherit

// header
header
    box-shadow: 0 4px 6px rgba(0,0,0,0.07)
    padding: 15px 0 30px 0
    img
        max-height: 150px

nav
    margin-top: 30px
ul
    display: flex
    justify-content: center
    list-style-type: none
    font-weight: bold
    text-decoration: underline
    li a
        font-size: 32px
        line-height: 36px
        display: flex
        align-items: center
        margin: 0 15px
        opacity: .65
        transition: all .3s ease-in-out

        &:hover
            opacity: 1

        img
            height: 36px

.active
    opacity: 1

.wrapper-oferta
    width: 1200px
    margin: 40px auto
    display: flex
    flex-wrap: wrap

.item
    box-sizing: border-box
    background: #F3F3F3
    border-radius: 10px
    overflow: hidden
    width: calc(25% - 30px)
    margin: 15px
    height: 400px
    display: flex
    box-shadow: 0 0 6px rgba(0,0,0,0.35)
    cursor: pointer
    transition: all .3s linear

    &:hover
        box-shadow: 0 0 15px rgba(0,0,0,0.7)
    .side-image
        width: 80px
        height: 100%
        overflow: hidden
        img
            height: 100%
            transform: translateX(-50%)
    .item-content
        width: calc(100% - 80px)
        padding: 10px
        display: flex
        flex-direction: column
        box-sizing: border-box

        h1
            height: 15%
            text-align: center
            font-size: 26px
        .desc
            height: 75%
        .price
            height: 10%
            text-align: center
            color: #1E1E1E
            font-size: 26px
            font-weight: bold

footer
    background: #343434

    .footer-wrapper
        color: rgba(255,255,255,.4)
        margin: auto
        width: 1200px
        padding: 15px 15px
        box-sizing: border-box
        display: flex
        font-weight: 300
        justify-content: space-between
.fix
    position: absolute
    bottom: 0
    left: 0
    right: 0
//dostawa

.wrapper-dostawa
    width: 1000px
    margin: auto
    font-weight: 300
    display: flex
    flex-wrap: wrap
    padding: 50px 0

    img
        width: calc(50% - 10px)
        box-shadow: 0 3px 6px rgba(0,0,0,0.16)
        border-radius: 10px
        height: 300px
    
.img-one
    margin-right: 10px
.img-two
    margin-left: 10px
.info
    box-sizing: border-box
    width: calc(50% - 10px)
    background: #F8F8F8
    box-shadow: 0 3px 2px rgba(0,0,0,0.16)
    border-radius: 10px
    font-size: 27px
    padding: 10px 20px
    text-align: center

.days
    margin-right: 10px
.hours
    margin-left: 10px
.dostawa-desc
    text-align: center
    font-size: 23px
    color: #6f6f6f
    margin: 30px 0

//kontakt
.wrapper-kontakt
    width: 1000px
    margin: auto
    padding: 50px 0 100px 0
.fix-wrap
    padding-bottom: 50px
#map_wrapper 
    width: 100%
    height: 350px
    #map 
        width: 100%
        height: 100%
        -webkit-box-shadow: 0px 1px 6px rgba(0,0,0,0.16)
        -moz-box-shadow: 0px 1px 6px rgba(0,0,0,0.16)
        box-shadow: 0px 1px 6px rgba(0,0,0,0.16)
        
.phones
    display: flex
    flex-wrap: wrap
    h2
        width: 100%
        text-align: center

    div
        box-sizing: border-box
        width: calc(50% - 10px)
        background: #FCFCFC
        box-shadow: 0 1px 2px rgba(0,0,0,0.05)
        border: 1px solid #AEAEAE
        border-radius: 5px
        text-align: center
        cursor: pointer
        p
            font-size: 44px
            font-weight: 300
        .green
            font-size: 25px
            color: #158500
            font-weight: 400
.igor
    margin-right: 10px
.pawel
    margin-left: 10px

.form
    width: 100%
    display: flex
    flex-wrap: wrap
    p
        text-align: center
        width: 100%
.section-title
    width: 100%
    font-size: 29px
    font-weight: 300
    text-align: center
    margin: 15px 0

input[type=text]
    box-sizing: border-box
    background: #FCFCFC
    border-radius: 5px
    border: 1px solid #C5C5C5
    box-shadow: 0 1px 2px rgba(0,0,0,0.05)
    font-size: 23px
    padding: 5px 15px
    font-weight: 300
    font-family: 'Lato', sans-serif
    transition: all .3s ease-in-out
    &::placeholder
        color: #76B852
        opacity: .7
    &:focus
        outline: none
        box-shadow: 0 1px 6px rgba(0,0,0,0.4)

.name, .nazwisko
    width: calc(50% - 10px)
.name
    margin: 10px 10px 10px 0px
.nazwisko
    margin: 10px 0px 10px 10px
    

.email
    width: 100%

.tresc
    width: 100%
    box-sizing: border-box
    background: #FCFCFC
    border-radius: 5px
    border: 1px solid #C5C5C5
    box-shadow: 0 1px 2px rgba(0,0,0,0.05)
    font-size: 23px
    padding: 5px 15px
    font-weight: 300
    font-family: 'Lato', sans-serif
    margin: 10px 0
    transition: all .3s ease-in-out
    &::placeholder
        color: #76B852
        opacity: .7
    &:focus
        outline: none
        box-shadow: 0 1px 6px rgba(0,0,0,0.4)

.wyslij
    width: 100%
    display: flex
    justify-content: center

    button
        background: #76b852
        background: -moz-linear-gradient(-45deg, #76b852 0%, #8dc26f 100%)
        background: -webkit-linear-gradient(-45deg, #76b852 0%, #8dc26f 100%)
        background: linear-gradient(135deg, #76b852 0%, #8dc26f 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76b852', endColorstr='#8dc26f',GradientType=1 )
        border: none
        border-radius: 5px
        color: #ffffff
        font-size: 21px
        padding: 5px 70px
        cursor: pointer
        &:focus
            outline: none

.gone
    background: #EEEEEE !important

.success
    color: green
.error
    color: red